<aside class="sidebar bg-dark">
  <!-- <div class="sidebar-header"> -->
  <div class="sidebar-logo">
    <img src="https://drive.google.com/thumbnail?id=1TA-SwDW0F8xlJiZ7x8LuVdNbWYDDMtUj" width="40" height="40" />
  </div>
  <!-- </div> -->
  <nav class="sidebar-menu">
    <ul id="sidebar-list">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link link-atenciones" id="link-atenciones">
          <i class="fa-solid fa-person-circle-exclamation"></i>
          <span class="tooltip">Atenciones</span>
        </a>

      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link link-trayectoria" id="link-trayectorias">
          <i class="fa-solid fa-arrow-up-right-dots"></i>
          <span class="tooltip">Trayectoria</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link link-porCurso" id="link-porCurso">
          <i class="fa-solid fa-users-between-lines"></i>
          <span class="tooltip">Resumen Por Curso</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link link-porTipo" id="link-porTipo">
          <i class="fa-solid fa-chart-column"></i>
          <span class="tooltip">Resumen por Tipo Atención</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link link-consolidado" id="link-consolidado">
          <i class="fa-solid fa-clipboard-user"></i>
          <span class="tooltip">Mi Consolidado</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>