<div class="container-table bg-white" id="table-container">
  <table class="display data-table" id="atencionesTable">
    <thead class="bg-blue text-light" id="atencionesHeader"></thead>
    <tbody id="atencionesTableBody"></tbody>
  </table>
</div>

<div class="container-table bg-white" id="resumenTipoAtencionTableContainer">
  <table class="display compact text-dark" id="resumenTipoAtencionTable">
    <thead class="bg-dark text-light pl-1"></thead>
    <tbody id="resumenTipoAtencionTableBody"></tbody>
  </table>
  <div id="graficosResumen">
    <div class="row">
      <div id="top_septimos" class="grafico" style="height: 500px;"></div>
    </div>
    <div class="row">
      <div id="top_octavos" class="grafico" style="height: 500px;"></div>
    </div>
    <div class="row">
      <div id="top_primeros" class="grafico" style="height: 500px;"></div>
    </div>
    <div class="row">
      <div id="top_segundos" class="grafico" style="height: 500px;"></div>
    </div>
    <div class="row">
      <div id="top_terceros" class="grafico" style="height: 500px;"></div>
    </div>
    <div class="row">
      <div id="top_cuartos" class="grafico" style="height: 500px;"></div>
    </div>
  </div>
</div>

<div class="container-table bg-white" id="consolidadoTableContainer">
  <table class="display compact text-dark" id="consolidadoTable">
    <thead class="bg-dark text-light"></thead>
    <tbody id="consolidadoTableBody"></tbody>
  </table>
</div>