<style>
    .main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        height: calc((100vh - var(--topbar-height)) - var(--footer-height) - 10px);
        padding: 10px;
        background-color: #f4f6f9;
        /* overflow: auto; */
    }

    section {
        background-color: var(--white-color);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    section .trayectoria {
        height: 200px;
        display: none;
    }

    .section .porTipo {
        height: 50%;
    }
</style>